@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/PF Square Sans Pro Regular.ttf");
    url("../fonts/PF Square Sans Pro Regular.ttf") format("ttf"),
    font-style: normal;
    font-weight: 400;
}