@media screen and (max-width: 992px) {
	.contacts {
		flex-basis: 60%;
		order: -2;

	}
	.login_block {
		flex-basis: 30%;
		order: -1;
		align-self: flex-end;
	}
	.first_row nav {
		margin-top: 20px;
		flex-basis: 100%;
		align-self: center;
		text-align: center;
		order: 1;
	}
	nav.burger-nav {
		border-left: 2px solid black;
	}
	nav.burger-nav ul li {
		display: block;
		position: relative;
		opacity: 0;
		transition: 1s all;
	}
	nav.burger-nav ul {
		height: 0px;
		overflow: hidden;
		transition: 1s all;
	}
	nav.burger-nav ul li:last-child {
	margin-right: 50px;
	}
	label.menu-check {
		display: block;
		top: -75px;
		right: 100px;
	}
	input[type="checkbox"]:checked ~ ul {
		height: 350px;
		transition: 1s all;
	}
	input[type="checkbox"]:checked ~ ul>li{
		display: block;
		opacity: 1;
		transition: 1.5s all;
	}
	input[type="checkbox"]:checked ~ label .burger {
		top: 10px;
		transform: rotate(45deg);
		transition: 1.5s all;
	}
	input[type="checkbox"]:checked ~ label .burger:after {
		top: 0px;
		transform: rotate(90deg);
		transition: 1.5s all;	
	}
	input[type="checkbox"]:checked ~ label .burger:before{
		display: none;
	}
	.my-slider ul li h2{
    font-size: 62px;
    position: relative;
    bottom: 90px;
    color: #000;
    font-weight: normal;
    line-height: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
	}
	.my-slider ul li h2:after {
	content: "";
	display: block;
	top: -22px;
	width: 40px;
	height: 3px;
	background-color: black;
	position: relative;
	}
	.goods-logo {
		font-size: 2.8em;
	}
	.goods-logo-description {
	display: block;
	font-size: 20px;
	line-height: 1.2em;
	position: relative;
	bottom: 87px;
	color: #1e1e1e;
	}
	footer section{
		flex-basis: calc(100% / 3);
	}
	footer ul {
		margin-bottom: 15px;
	}
	.footer-social {
		text-align: left;
	}
}
@media screen and (max-width: 768px) {
	.hidden {
		display: flex;
	}
	.vissible {
		display: none;
	}
	.goods-header {
		flex-direction: column;
		flex-wrap: wrap;
	}
	a.slider-button{
		width: 70px;
		height: 70px;
		font-size: 10px;
		line-height: 70px;
	}
	.my-slider .slider-logo-description {
		font-size: 3em;
		font-weight: 600;
	}
	.goods-item-header {
		flex-basis: 50%;
	}
	.goods-col>.top-brand,
	.goods-col>.for-sholder,
	.goods-col>.for-men {
		display: none;
	}
	#top-brand:checked ~ .goods-col>.top-brand {
		display: flex;
		flex-basis: 100%;
	}
	#for-sholder:checked ~ .goods-col>.for-sholder {
		display: flex;
		flex-basis: 100%;
	}
	#for-men:checked ~ .goods-col>.for-men {
		display: flex;
		flex-basis: 100%;
	}
	.goods-bottom-item-long {
		flex-basis: 100%;
		background-size: cover;
		background-position: center;
	}
}